<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- Chapter 07 用。実DBに接続する場合は SQL Server の接続文字列に変更してください。 -->
    <add name="StudyDb" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=StudyWebForms;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />
    <sessionState mode="InProc" timeout="20" />
    <customErrors mode="Off" />
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="ja-JP" uiCulture="ja-JP" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>
